* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: white;
}
nav {
    display: flex;
    gap: 15px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}
nav a {
    text-decoration: none;
    margin: 0 10px;
    text-decoration: nome;
    color: black;
}
.actions {
    display: flex;
    gap: 10px;
    border-radius: 15px;
}
.actions input {
    padding: 5px;
    border-radius: 6px;
}
.actions button {
    color: #00c080;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #00c080;
    background-color: transparent;
    
}
.hero {
    text-align: center;
    padding: 40px 20px;
}
.hero h1 {
    font-size: 28px;
    margin-bottom: 10px;
}
.hero p {
    margin-bottom: 20px;
}
.hero button {
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
body {
    background: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}
.newsletter {
    background: white;
    max-width: 600px;
    margin: 60px auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, b0, 0.1);
}
.newsletter h1 {
    margin-bottom: 25px;
}
form input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}
.checkboxArea {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
button {
    background: teal;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}
main {
    max-width: 1200px;
    margin: auto;
}
@media (max-width: 769px) {
    .grid-posts {
        flex-direction: column;
    }
    .card-post {
        width: 100%;
    }
    header {
        flex-direction: column;
        gap: 10px;
    }
    nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    .filtros {
        flex-wrap: wrap;
    }
}

.footer {
    background: white;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}
.footer .links {
    display: flex;
    justify-content: center;
    gap: 30px;
    border-radius: 6px;
    margin-bottom: 10px;
}
.footer .links span {
    border-radius: 6px;
    border: 2px solid #dddddd;
    background-color: transparent;
    padding: 15px 50px;
    font-weight: 700;
}